<launch>
  <!--
    ROS 1 mock / optional MoveIt simulation path.
    This launch never starts physical Franka hardware.
  -->
  <arg name="use_gazebo" default="false"/>
  <arg name="use_moveit" default="false"/>
  <arg name="use_mock_landmarks" default="true"/>

  <!-- Optional external stacks. They are disabled unless explicitly requested. -->
  <group if="$(arg use_gazebo)">
    <include file="$(find franka_gazebo)/launch/panda.launch"/>
  </group>

  <group if="$(arg use_moveit)">
    <include file="$(find panda_moveit_config)/launch/demo.launch"/>
  </group>

  <node pkg="vision_arm_control" type="mock_landmark_publisher.py" name="mock_landmark_publisher" output="screen" if="$(arg use_mock_landmarks)"/>

  <node pkg="vision_arm_control" type="human_to_robot_mapper_node.py" name="human_to_robot_mapper_node" output="screen">
    <rosparam file="$(find vision_arm_control)/config/human_to_robot_mapper_node.yaml" command="load"/>
    <param name="mapping_mode" value="shoulder_relative"/>
  </node>

  <node pkg="vision_arm_control" type="safety_monitor_node.py" name="safety_monitor_node" output="screen">
    <rosparam file="$(find vision_arm_control)/config/safety_monitor_node.yaml" command="load"/>
    <param name="control_mode" value="simulation"/>
    <param name="allow_real_robot" value="false"/>
    <param name="require_deadman" value="false"/>
  </node>

  <node pkg="vision_arm_control" type="robot_controller_node.py" name="robot_controller_node" output="screen">
    <rosparam file="$(find vision_arm_control)/config/robot_controller_node.yaml" command="load"/>
    <param name="mode" value="simulation"/>
    <param name="use_robot" value="false"/>
    <param name="allow_real_robot" value="false"/>
    <param name="use_moveit" value="$(arg use_moveit)"/>
  </node>
</launch>
